---
layout: brilhou
title: Brilhou os olhos
permalink: /brilhou-os-olhos/
lang: pt
---

{% assign posts = site.data.brilhou %}

<div class="brilhou-posts">

    {% for post in posts %}

    {% if post.image_urls %}
        {% assign size = post.image_urls | size %}
        {% if size > 1 %}
            <div id="carousel-{{ forloop.index0 }}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image_url in post.image_urls %}
                {% if forloop.index0 != 0 %}
                <div class="item active">
                    <img src="{{ image_url }}" style="width:100%;">
                </div>
                {% else %}
                <div class="item">
                    <img src="{{ image_url }}" style="width:100%;">
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#carousel-{{ forloop.index0 }}" data-slide="prev">
                <span>˱</span>
                <span class="sr-only">Anterior</span>
            </a>

            <a class="right carousel-control" href="#carousel-{{ forloop.index0 }}" data-slide="next">
                <span>˲</span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
        {% else %}
            <img src="{{ post.image_urls[0] }}" />
        {% endif %}
    {% endif %}

    {% if post.video_url %}
    <video autoplay muted width="100%" loop>
        Your browser does not support HTML5 video.
        <source src="{{ post.video_url }}" type="video/mp4">
    </video>
    {% endif %}

    <p style="margin-bottom: 60px; margin-top: 20px">
        <a href="{{ post.product.url }}" target="_blank">
            {{post.product.name}}
        </a>
        — {{ post.title }}
        {% for hashtag in post.hashtags %}
        <a href="https://www.instagram.com/explore/tags/{{ hashtag }}" target="_blank">
            #{{ hashtag }}
        </a>
        {% endfor %}
    </p>
    {% endfor %}
</div>