---
layout: default
---

<header id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-2 profile-img">

                <img src="{{ site.baseurl }}/assets/images/profile.svg"/>

            </div>
            <div class="col-md-6">

                <div class="intro-text">
                    <p>{{ site.description }}</p>
                </div>
                <ul class="list-inline">
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="http://github.com/{{ site.github_username }}"
                           class="btn-social">
                            <i class="fa fa-fw fa-github"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="http://twitter.com/{{ site.twitter_username }}"
                           class="btn-social">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}"
                           class="btn-social">
                            <i class="fa fa-fw fa-linkedin"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.google_plus_username %}
                    <li>
                        <a target="_blank" href="http://plus.google.com/+{{ site.google_plus_username }}"
                           class="btn-social">
                            <i class="fa fa-fw fa-google-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email %}
                    <li>
                        <a target="_blank" href="mailto:{{ site.email }}"
                           class="btn-social">
                            <i class="fa fa-fw fa-envelope-o"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <p>
                    Hi, I'm Afonso, a curious 31-year-old man who lives in São Paulo and works as
                    a software engineer at <a href="http://associate.io">associate.io</a>.
                </p>

                <p>
                    I'm also an MBA in Project Management from FGV and graduated in Computer Science at
                    UBM.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    I really love coding and the first time I created a source code, I was
                    trying to build a RPG within Excel. Nowadays my job is a little different, but it&#39;s
                    still
                    fun.
                </p>

                <p>
                    Here you can know more about me and my job. Enjoy!
                </p>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"><h2>Projects</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            {% for project in site.categories['Projects'] %}
            <div class="col-md-6 col-lg-4">
                <div class="project"
                     style="background-image: url('{{project.image}}');">
                    <a href="{{ project.url | prepend: site.baseurl }}" class="section-list-lg">
                        {{ project.title }}
                        <div>
                            <small>{{ project.excerpt }}</small>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"><h2>Blog</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            {% for post in site.categories['Blog'] %}
            <div class="col-md-12 post">
                <h3 class="entry-title">
                    <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a>
                </h3>

                <p>{{ post.excerpt }}
                    <a href="{{ post.url | prepend: site.baseurl }}"
                       class="more-link">Continue reading <span class="screen-reader-text">{{ post.title }}</span></a>
                </p>
                <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
            </div>
            {% endfor %}
        </div>
    </div>
</section>