{% assign resume = site.data.resume %}

<section id="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 text-center"
                 style="margin-top: 40px; margin-bottom: 0">
                <p style="font-size: 25px; font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: italic">
                    {{ resume.tagline }}
                </p>

                <p style="font-size: 19px">
                    {{ resume.intro }}
                </p>
            </div>
        </div>


        <div class="row text-center" style="margin-top: 40px">

            {% for section in resume.sections %}
                {% if section.title == "Main Skills" %}
                    {% for item in section.items %}
                        <div class="col-md-4">
                            <div class="skill-image">
                                <img src="/assets/images/{{ item.icon }}">
                            </div>
                            <h4 class="service-heading">{{ item.key}}</h4>
                            <p class="text-muted">{{ item.value }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section>