<!-- Services Section -->
<section id="about">
    <div class="container">
        <!--<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>-->
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 text-center"
                 style="margin-top: 40px; margin-bottom: 0">
                <p class="text-muted"
                   style="font-size: 25px; font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: italic">
                    Hi, I'm Afonso, a curious 31-year-old man who
                    works as Full-Stack developer at the great startup <a href="http://associate.io">associate.io</a>!
                </p>

                <p class="text-muted" style="font-size: 15px">
                    I love coding and I've been doing this for more than 10 years. The first time I created a program,
                    I was trying to build a RPG within Excel.
                    Nowadays my job is a little different, but it's still fun.
                </p>

                <p class="text-muted" style="font-size: 15px">
                    I'm also an MBA in Project
                    Management from <a href="http://fgv.br">FGV</a> and graduated in Computer Science at
                    <a href="http://ubm.br/">UBM</a>.
                </p>
                <p class="text-muted" style="font-size: 15px">Here you can know more about me and my job. Enjoy!</p>
            </div>
        </div>


        <div class="row text-center" style="margin-top: 40px">
            <div class="col-md-4">
                <div style="background-color: #37474F; width: 110px; height: 110px; border-radius: 50%; overflow: hidden; text-align: center; margin: 0 auto">
                    <img src="/assets/images/full-stack.svg" style="width: 70px; margin-top: 25px;">
                </div>
                <h4 class="service-heading">Full-Stack Web Developer</h4>
                <p class="text-muted"> 10 years creating software, started using <b>PHP</b> passing through <b>.NET</b>
                    and
                    nowadays I enjoy <b>Python</b> and <b>Javascript</b>.
                </p>
            </div>
            <div class="col-md-4">
                <div style="background-color: #37474F; width: 110px; height: 110px; border-radius: 50%; overflow: hidden; text-align: center; margin: 0 auto">
                    <img src="/assets/images/agile.svg" style="width: 70px; margin-left: 4px; margin-top: 16px;">
                </div>
                <h4 class="service-heading">Agile Enthusiast</h4>
                <p class="text-muted">I've already worn the hat of <b>Scrum Master</b> and <b>Product Owner</b>. In
                    some project I used Kanban <b>Kanban</b> principles.
                </p>
            </div>
            <div class="col-md-4">
                <div style="background-color: #37474F; width: 110px; height: 110px; border-radius: 50%; overflow: hidden; text-align: center; margin: 0 auto">
                    <img src="/assets/images/engineering.svg" style="width: 70px; margin-top: 16px;">
                </div>
                <h4 class="service-heading">Software Engineer</h4>
                <p class="text-muted">I know how important it is to use <b>TDD</b>, <b>Refactoring</b> and <b>Code
                    Review</b> in order to create a profitable software.
                </p>
            </div>
        </div>

    </div>
</section>