<!-- Team Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <h3 class="section-subheading text-muted">Mirroring my ideas...</h3>
            </div>
        </div>

        <div class="row">
            {% for post in site.categories['blog'] %}
            <div class="col-md-12 col-lg-10 col-lg-offset-1 post" style="margin-bottom: 80px">
                <h3 class="entry-title" style="text-align: center; margin-bottom: 30px; font-size: 30px">
                    <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a>
                </h3>

                <p class="large text-muted" style="font-size: 22px !important;">
                    {{ post.excerpt }}
                </p>
                <a href="{{ post.url | prepend: site.baseurl }}"
                   class="more-link">Continue reading...</a>

                <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
            </div>
            {% endfor %}
        </div>
    </div>
</section>