<section id="blog" class="internal-list">
    {% for post in site.categories['blog'] %}
        {% if post.type == 'youtube' %}
            {% assign image_url = 'https://i.ytimg.com/vi/' | append: post.youtube_id | append: '/maxresdefault.jpg' %}
            {% assign url = 'https://www.youtube.com/watch?v=' | append: post.youtube_id %}
            {% assign target = '_blank' %}
        {% else %}
            {% assign image_url = null %}
            {% assign url = post.url | prepend: site.baseurl %}
            {% assign target = '_self' %}
    {% endif %}

        {% include feed-article.html post=post image_url=image_url url=url target=target %}
    {% endfor %}
</section>
