<nav>
    <div class="container">
        <a class="navbar-brand"
           href="{{ site.baseurl }}/"
           title="{{ site.title }}">
            <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="{{ site.title }} Logo"/>

            <div>{{ site.title }}</div>
        </a>
        <ul class="navbar-right sm-hide">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li class="nav-item"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>











