<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">

            <img src="/assets/images/profile.svg" class="img-responsive img-circle" alt=""
                 style="margin: 0 auto 40px; width:220px">

            <div class="intro-heading">
                Afonso F
            </div>

            <div class="intro-lead-in">Full-Stack Developer and Technical Team Lead</div>
            <ul class="list-inline social-buttons">
                {% for network in site.social %}
                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>

