{% assign i18n = site.data.translation %}

{% if(page.lang) %}
{% assign lang = page.lang  %}
{% else %}
{% assign lang = 'pt' %}
{% endif %}

{% assign parts = page.url | split: '/' %}

{% assign class_blog = 'none' %}
{% assign class_project = 'none' %}

{% if parts contains 'blog' %}
  {% assign class_blog = 'active' %}
  {% assign class_project = 'none' %}
{% endif %}
{% if parts contains 'projects' %}
  {% assign class_blog = 'none' %}
  {% assign class_project = 'active' %}
{% endif %}

<nav class="navbar navbar-default">
        <div class="navbar-header">
            <a href="{{ site.baseurl }}/{{lang}}" class="navbar-brand">
                <img alt="{{ site.title }}" src="https://1.gravatar.com/avatar/795520bb347733940b6bb1744caa860b68aa970df62d9f65e9263b3921f67b0e?size=256">
<!--                <img src="/assets/images/logo.svg" alt="{{ site.title }} Logo"/>-->
                <h1>{{ site.title }}</h1>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse">
            <li class="{{ class_blog }}">
                <a href="{{ site.baseurl }}/blog">{{i18n.blog[lang]}}</a>
            </li>
            <li class="{{ class_project }}">
                <a href="{{ site.baseurl }}/{{lang}}/projects">
                    {{i18n.projects[lang]}}
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/{{lang}}/resume" target="_blank">{{i18n.resume[lang]}}</a>
            </li>
            <li class="icon">
                <a href="{{ site.baseurl }}/pt" title="Ver em Português"
                   class="{%if lang != 'pt' %} low-opacity {% endif %}">
                    PT
                </a>
                <a href="{{ site.baseurl }}/en" title="View in English"
                   class="{%if lang != 'en' %} low-opacity {% endif %}">
                    EN
                </a>
            </li>
        </ul>
</nav>
