<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll"
               href="/#page-top"
               title="{{ site.title }}">
                <img src="/assets/images/logo.svg" alt="{{ site.title }} Logo"/>
                <h1 style="display: inline; font-size: inherit;">{{ site.title }}</h1>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse">
            <li>
                <a href="/#about">About</a>
            </li>
            <li>
                <a href="/#projects">Projects</a>
            </li>
            <li>
                <a href="/#blog">Blog</a>
            </li>
            <li>
                <a href="/resume" target="_blank">Resume</a>
            </li>
        </ul>
    </div>
</nav>
