{% assign i18n = site.data.translation %}
{% assign projects = site.data.projects | sort:"date" | reverse %}

<section id="projects">
    {% assign size = projects | size %}

    {% for i in (0..size) %}
    {% assign modulo = i | modulo: 2 %}
    {% if modulo == 0 %}
    <div class="row">
        {% assign project=projects[i] %}
        {% if project %}
            {% include project-card.html %}
            {% assign second = i | plus: 1 %}
            {% assign project=projects[second] %}
            {% include project-card.html %}
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</section>
