<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work Experience</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/images/works/associateio.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016 - Associate.IO</h4>
                                <h4 class="subheading">Full-stack Developer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Help to create an innovative technology that allows retailers to
                                    empower their associates delivering the right information to the right person. It's
                                    possible to create customised rules and is integrated with 3rd party services like
                                    Instagram, Vend, Square, Zoho and Zendesk. (Python + Django + iOS + Javascript)</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/images/works/diebold.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2010-2015 Diebold Inc.</h4>
                                <h4 class="subheading">Technical Team Lead</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Leaded 9 developers • Agile based methodology • Protecting 40
                                    millions of clients • Continuous integration, Nightly Builds and Code Review, CVS,
                                    Code coverageProjects: Fraud prevention console • OAuth based Authentication
                                    Gateway</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2006-2010 Diebold Inc.</h4>
                                <h4 class="subheading">Software Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Social Network Malware finder (Python) • Antivirus GUI (C++) •
                                    Unique Machine Identification (Javascript) • Continuous integration scripts (Python)
                                    • Design Patterns and TDD • Heuristic site classifier (Python) • Internal Intranet
                                    (ASP.NET MVC)</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>