$code-bg-color: rgba(255, 255, 255, 0.05);
$code-text-color: rgba(255, 255, 255, 0.7);

$color-3: #282a36;
$color-5: rgba(255, 255, 255, 0.2);
$color-1: #f8f8f2;

$code-red-color: rgba(255, 85, 85, 0.7);
$code-orange-color: rgba(255, 184, 108, 0.7);
$code-yellow-color: rgba(241, 250, 140, 0.7);
$code-green-color: rgba(80, 250, 123, 0.7);
$code-blue-color: rgba(139, 233, 253, 0.7);
$code-purple-color: rgba(189, 147, 249, 0.7);
$code-pink-color: rgba(255, 121, 198, 0.7);

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
    color: $color-1;
}

.highlight {
    margin: 30px 0;
}

.highlight pre {
    background-color: $code-bg-color;
    border: none;
    color: $code-text-color;
    font-size: 16px;
    line-height: 30px;
}

.highlight .err {
    color: $color-3;
    background-color: $code-pink-color;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
    color: $color-5;
}
.highlight .cp {
    color: $code-green-color;
}
.highlight .nt {
    color: $code-green-color;
}
.highlight .o, .highlight .ow {
    color: $color-1;
}
.highlight .p, .highlight .pi {
    color: $color-1;
}
.highlight .gi {
    color: $code-yellow-color;
}
.highlight .gd {
    color: $code-pink-color;
}
.highlight .gh {
    color: $code-blue-color;
    font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color: $code-purple-color;
}
.highlight .kc {
    color: $code-orange-color;
}
.highlight .kt {
    color: $code-orange-color;
}
.highlight .kd {
    color: $code-orange-color;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: $code-yellow-color;
}
.highlight .sr {
    color: $code-blue-color;
}
.highlight .si {
    color: $code-red-color;
}
.highlight .se {
    color: $code-red-color;
}
.highlight .nn {
    color: $code-green-color;
}
.highlight .nc {
    color: $code-green-color;
}
.highlight .no {
    color: $code-green-color;
}
.highlight .na {
    color: $code-blue-color;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
    color: $code-yellow-color;
}
.highlight .ss {
    color: $code-yellow-color;
}