body {
  overflow-x: hidden;
  font-family: "Noto Sans TC", serif;
  font-weight: $default-font-weight;
  color: $primary;
  background-color: $page-background;
}

p {
  font-size: $font-size-md;
  line-height: 1.75;
}

p.large {
  font-size: $font-size-lg;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: all .3s ease-in-out;
}

a:hover,
a:focus,
a:active,
a.active {
  color: $medium-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $title-font-weight;
  font-family: "Noto Sans TC", serif;
}

h1 {
  font-size: $font-size-lg;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

nav {
  padding-bottom: 0 !important;
}

.navbar-default {
  background-color: transparent;
  color: $primary;
  margin-bottom: 0;

  .navbar-brand {
    padding: 10px 15px 10px 0;
    font-size: $font-size-lg;
    line-height: 20px;
    color: $primary;
    height: 70px;

    & > img {
      width: 40px;
      display: block;
      float: left;
      margin-right: 15px;
      border-radius: 50%;
    }

    & > h1 {
      display: block;
      float: left;
      margin-top: 0;
      color: $secondary;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: white;
    }
  }

  .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
  }

  .navbar-toggle {
    border-color: $primary;
    background-color: $primary;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: $primary;
  }

  .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: $primary;
    font-size: 18px;
  }

  .nav li a:hover,
  .nav li a:focus {
    outline: 0;
    color: $secondary;
  }

  .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: rgba(255,255,255,0.03);
  }
  .navbar-nav > .active > a:hover {
    border-radius: 0;
    color: #fff;
    background-color: rgba(255,255,255,0.03);
  }
}

.navbar {
  a {
    text-decoration: none;
  }

  .icon {
    a {
      display: inline-block;
    }

    a:first-child {
      padding-right: 0;
    }

    a:last-child {
      padding-left: 0;
    }
  }
}

// Desktop
@media(min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
  }

  .navbar-default .navbar-brand {
    font-size: $font-size-lg;
  }

  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .navbar-default .navbar-brand > img {
    width: 50px;
  }

  #projects .project-card {
    margin: 0 0 30px;
  }
}

// Tablet
@media(max-width: 768px) {
  header .intro-text {
    padding-top: 140px !important;
  }

  .navbar-right {
    margin: 0 auto !important;
    padding: 0;
    border: 0;
    height: 30px;

    li {
      float: left;
      font-size: $font-size-sm;

      a {
        padding-left: 7px;
        padding-right: 7px;
      }
    }

    li:first-child a {
      padding-left: 0;
    }
  }
  .navbar {
    a.icon {
      font-size: $font-size-md;
    }
  }
}

// Mobile
@media(max-width: 480px) {
  section {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .nav > li.icon {
    position: absolute;
    top: 8px;
    right: 0;
  }

  .navbar-default {
    .navbar-header {
      padding-bottom: 10px;

      .navbar-brand {
        height: 50px;

        h1 {
          margin: 3px 0 0 !important;
          font-size: 30px !important;
        }
      }
    }
  }

  #about {
    .skills {
      margin-top: 25px !important;
    }
  }

  #recent-articles {
    .article-list {
      .article-item a {
        flex-direction: column;

        & > div:first-child {
          line-height: 30px;
          order: 2;
          margin-bottom: 20px;
        }

        & > div:last-child {
          line-height: 20px;
        }
      }
    }
  }

  footer .quicklinks ul {
    text-align: left !important;
  }

  .feed-article {
    padding: 0 !important;

    &>div {
      display: none;
    }
  }
}

section {
  padding: 50px 0 50px;

  h2.section-heading {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: $font-size-lg;
  }

  h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: $font-size-sm;
    font-style: italic;
    font-weight: 400;
  }
}

#projects {
  .project-card {
    right: 0;
    margin: 0;

    a {
      text-decoration: none;
    }

    .portfolio-link {
      display: block;
      position: relative;
      margin: 0;

      .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;

        &:hover {
          opacity: 1;
        }

        .portfolio-hover-content {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          font-size: $font-size-md;
          color: #fff;

          i {
            margin-top: -12px;
          }

          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }

    .portfolio-caption {
      margin: 0;
      padding: 20px 0;

      h4 {
        margin: 0;
        text-transform: none;
        font-size: $font-size-md;
        line-height: 30px;
      }

      p {
        margin: 0;
        font-size: $font-size-sm;
        line-height: 30px;
        margin-bottom: 25px;
      }
    }
  }

  * {
    z-index: 2;
  }
}

footer {
  background-color: $dark-gray;
  padding: 25px 0;
  //position: absolute;
  //bottom: 0;

  span.copyright {
    text-transform: none;
    line-height: 40px;
  }

  .quicklinks ul {
    margin-bottom: 0;
    text-transform: none;
    line-height: 40px;
    text-align: right;
  }
}

::selection {
  text-shadow: none;
  background: $secondary;
  color: $page-background;
}

img::selection {
  background: $primary;
}

body {
  -webkit-tap-highlight-color: $primary;
}

#blog p {
  font-size: $font-size-md;
}

.entry-content {
  p, li {
    font-size: $font-size-md;
    line-height: 32px;
  }

  p {
    margin-bottom: 20px;
  }

  h4 {
    font-size: $font-size-md;
    margin-top: 30px;
  }

  h3, h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

article {
  margin-bottom: 40px;

  h1, h2, h3, h4, h5, h6 {
    color: $secondary;
    font-weight: $title-font-weight;
  }

  h1 {
    font-size: $font-size-lg;
  }

  h2 {
    font-size: $font-size-md-2
  }

  time {
    font-size: $font-size-sm;
    color: $primary;
    margin-bottom: 20px;
    font-style: italic;
    display: block;
  }
}

#disqus_thread {
  margin-bottom: 40px;
}

h3 a {
  text-decoration: none;
  color: $dark-gray;

  &:hover {
    text-decoration: none;
  }
}

footer a {
  text-decoration: none;
}

.btn {
  text-decoration: none;
}

.more-link {
  font-size: $font-size-sm;
}

img {
  max-width: 100%;
}

.skill-title {
  margin: 15px 0;
  text-transform: none;
  font-size: $font-size-md-3;
  display: inline-block;
}

.skill-description {
  font-size: $font-size-sm;

  b {
    color: $secondary;
    font-weight: $default-font-weight;
  }
}

.low-opacity {
  opacity: 0.3;
}

hr {
  width: 50%;
  border-top: 1px solid $medium-gray;
}

b, strong {
  // font-weight: 500;
}

#about {
  .skills {
    margin-top: 50px;
  }

  .about-text {
    font-size: $font-size-md;
    line-height: 40px;
    // font-weight: 300;
    text-align: left
  }
}

.article-list {
  list-style: none;
  padding: 0;
  line-height: 50px;

  .article-item a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      text-decoration: none;
    }
  }

  .article-item a div:first-child {
    font-size: $font-size-md;
  }

  .article-item a div:last-child {
    color: $primary;
  }
}

.show-all {
  margin-top: 40px;
  display: block;
  color: $primary;
}

.feed-article {
  border-bottom: 1px solid $medium-gray;
  display: flex;
  padding: 30px 0;

  .content {
    flex: 1;
    padding: 0 4.15198% 0 0;
  }

  .eyebrow {
    margin-bottom: 10px;
    color: $primary;
  }

  .title {
    color: $secondary;
  }

  .image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin: 0 !important;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 188px;
  }
}

.feed-article:last-child {
  border: none;
}

.internal-list {
  padding-top: 0 !important;
}

.brilhou-posts {
  margin-top: 25px;
  margin-bottom: 100px;
}

.carousel-control span:first-child {
  top: 50%;
  position: absolute;
  margin-left: -10px;
  font-size: 60px;
  margin-top: -70px;
}