---
layout: default
---

<style>
    @media (min-width: 768px) {
        .navbar-default {
            background-color: rgb(19, 24, 27) !important;
        }
    }
</style>

<div class="container" style="padding-top: 150px; text-align: center">
    <div class="row">
        <div class="col-lg-12">

            <div>

                <img src="/assets/images/posts/{{ page.img }}" style="width: 80%; max-width: 600px; margin-bottom: 20px">

                <h1 class="entry-title">
                    {{ page.title }}
                </h1>

                <p class="text-muted"
                   style="margin-bottom: 40px; font-size: 25px; font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: italic">
                    {{ page.subtitle }}
                </p>


                {% for button in page.buttons %}
                <a class="btn btn-default" href="{{ button.url }}">
                    <i class="fa fa-{{button.icon}}"></i>
                    {{ button.text }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>